body {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(44, 44, 44);
    height: 100px;
    text-align: center;
}

#title {
    color: white;
    padding-top: 1%;
}

p {
    font-size: 18px;
}

.col-3 {
    height: 100vh;
    background-color: rgb(243, 243, 243);
}

#city-search {
    padding-top: 10px;
}

#input {
    width: 60%;
    height: 4%;
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #3095a7;
}

#btn {
    width: 10%;
    height: 4%;
    background-color:lightblue;
}

#previousSearch {
    width: 100%;
    height: 30px;
    margin-top: 5px;
}

.btn {
    width: 100%;
    height: 10%;
    margin-bottom: 7px;
    border-radius: 5px;
    background-color: rgb(235, 236, 172);
}

#city {
    margin-top: 10px;
    height: 45%;
    border-top: 1px solid rgb(105, 100, 100);
    border-bottom: 1px solid rgb(105, 100, 100);
    border-left: 1px solid rgb(105, 100, 100);
    /*border-radius: 3px;
    margin-bottom: 20px;*/
}

#currentWeather {
    margin-bottom: 25px;
}

.low {
    background-color: rgb(79, 167, 79);
    width: 10%;
}

.moderate {
    background-color: rgb(206, 206, 98);
    width: 10%;
}

.high {
    background-color: rgb(197, 154, 74);
    width: 10%;
}

.severe {
    background-color: rgba(255, 0, 0, 0.651);
    width: 10%;
}

#forecastDisplay {
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: row;
    padding: 5px;
    height: 250px;
}

#forecastIcon {
    display: flex;
    width: 100px;
    height: 100px;
}

#cardContainer {
    text-align: center;
    margin-right: 10px;
    background-color: rgb(86, 151, 124);
    border-radius: 5px;
}